@{
    ViewBag.Title = "Home Page";
}
@section featured {
    
}

<div id="bodyContainer" ng-app="AngularMVCApp" >    
    <div id="simple" ng-controller="mainController" ng-init="sayHello">
        <div ng-view></div>
    </div>
</div>
@section scripts {
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/angular-lib")    
    @Scripts.Render("~/bundles/app-base")   
    @*@Scripts.Render("~/bundles/app-services")*@ 
    @Scripts.Render("~/bundles/app-controllers")
    @Scripts.Render("~/bundles/app-directives-common")
    @Scripts.Render("~/bundles/app-directives-business")

}
