@{
    ViewBag.Title = "Home Page";
}
@section featured {
    
}
<div id="bodyContainer" ng-app="AngularMVCApp">
    
    <div ng-controller="PersonCtrl" ng-init="getPersons()">

        @*<a>stato: {{transactionState}}</a><br />
        <actionbar state="transactionState" validatedins="validatedins()" validatedupd="validatedupd()" initins="initins()" initupd="initupd()" validateddel="validateddel()" validatedundo="validatedundo()" statechanged="statechanged(state)"></actionbar>*@


        <a> {{title}} </a>
        <ul>
            <li ng-repeat="person in persons" ng-click="selectPerson(person)">
                {{person.FirstName}} - {{person.LastName}} - {{person.FiscalCode}}                             
            </li>
        </ul>
        <button ng-click="addPerson()"></button>
        <personcrud model="selectedPerson"></personcrud>

    </div>


    

        <!--
        <div ng-controller="PersonCtrl" ng-init="getPersons()">

            <a>stato: {{transactionState}}</a><br />
            <actionbar state="transactionState" validatedins="validatedins()" validatedupd="validatedupd()" initins="initins()" initupd="initupd()" validateddel="validateddel()" validatedundo="validatedundo()" statechanged="statechanged(state)"></actionbar>


            <a> {{title}} </a>
            <ul>
                <li ng-repeat="person in persons" ng-click="selectPerson(person)">
                    {{person.FirstName}} - {{person.LastName}} - {{person.FiscalCode}}
                </li>
            </ul>
            <button ng-click="getPersons()">Update</button>

            <br />
            <br />

            <fieldset ng-show="selectedPerson!=null">
                <legend>Selected Person</legend>
                <label for="tbNome">FirstName</label>
                <maskedfield value="selectedPerson.FirstName" enablestate="1111" mask="00000" state="transactionState"></maskedfield>
                <label for="tbCognome">LastName</label>
                <maskedfield value="selectedPerson.LastName" enablestate="1111" mask="00000" state="transactionState"></maskedfield>
                <label for="tbCodFis">Fiscal Code</label>
                <maskedfield value="selectedPerson.FiscalCode" enablestate="1111" mask="00000" state="transactionState"></maskedfield>
            </fieldset>
        </div>
        -->
    </div>
@section scripts {
    @Scripts.Render("~/bundles/angular-lib") 
    @Scripts.Render("~/bundles/app-base") 
    @Scripts.Render("~/bundles/app-templates")
    @Scripts.Render("~/bundles/app-templates-crud")
    @Scripts.Render("~/bundles/app-controllers")    
}